/* Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header,
main,
footer {
  padding-left: 190px;
  padding-right: 190px;
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 900;
}
h1 {
  font-size: 4.75rem;
  line-height: 5.75rem;
}
h2 {
  font-size: 3rem;
  line-height: 3.6rem;
}
h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h5 {
  font-size: 1.75rem;
  line-height: 2rem;
}
h6 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
li {
  list-style: none;
}
a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
th {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}
td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}

/* Utility Classes */
.section-gap {
  padding-bottom: 6rem;
}
.text-center {
  text-align: center;
}
.text-red-orange {
  color: #e6533c;
}
.text-light {
  color: rgba(239, 237, 232, 0.65);
}
.bg-black {
  background-color: #000;
}
.bg-light-gray {
  background-color: #222;
}
.btn {
  border-radius: 2.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
  padding: 1rem 2.5rem;
  text-align: center;
}
.btn-red-orange {
  background-color: #e6533c;
  border: none;
}
.btn-outlined {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-outlined:hover {
  background-color: #e6533c;
}
.mb-8 {
  margin-bottom: 0.5rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.mb-28 {
  margin-bottom: 1.75rem;
}
.mb-32 {
  margin-bottom: 2rem;
}

/* Header Section Styles */
header {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #000;
  overflow: hidden;
  position: relative;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  z-index: 1;
  pointer-events: none;
}
nav,
section.banner {
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.brand {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
  line-height: 2.5rem;
}
.nav-links {
  border-radius: 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav ul li a {
  border-radius: 2.5rem;
  font-size: 1.25rem;
  padding: 0.25rem 1.25rem;
  transition: all 0.3s ease;
}
nav ul li a.active {
  background-color: #e6533c;
}
nav ul li a:hover {
  background-color: #e67f6f;
  font-weight: 600;
}

/* Banner Styles */
section.banner {
  display: flex;
  gap: 8rem;
  align-items: center;
}
.action-button-container {
  display: flex;
  gap: 1rem;
}
